

	h1{

		text-align: center;
		background-color: #ff8c69;
		font-family: arial;	
	
	}

	body{
		background-color: #add8e6;
		font-family: arial;


	}

	#xyz { color: blue; }





